<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="job.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
        <style>
            * {
              box-sizing: border-box;
              margin-bottom: 10px;
            }
            
            /* Create two equal columns that floats next to each other */
            div.column {
              float: left;
              width: 100%;
              padding: 10px;
              border-radius: 1cm;
            }
            
            /* Clear floats after the columns */
            div.row:after {
              content: "";
              display: table;
              clear: both;
            }
            </style>
</head>
<body>
    
    
    <div class="container" style="width:100%">
        <div class="left-sidebar"></div>
        <ul>

        </ul>
        <div class="main_content">
            <h1 align="center"><%= dept %> Jobs</h1>

            <div class="row" >
              <% jobs.forEach(function(jobs) { %>
                <div class="column" style="background-color:#aaa", "border-radius: 1cm;">
                  <h2><%= jobs.title %></h2>
                  <h4><%= jobs.company %></h4>
                  <h5>min CGPA : <%= jobs.cgpa %></h5>
                  <h6>Salary expected : <%= jobs.salary %> | Location : <%= jobs.location %></h6>
                  <a href="<%=jobs.link%>">Click for Registration</a>
                </div>
                <% }) %>
              </div>
        </div>
        <div class="right-sidebar">
          <div id="iframeHolder"></div>
        </div>
    </div>

</body>
</html>


