<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <base href="/">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <nav>
        <div class="nav-left">
            <a href="index.html"><img src="images/logo1.png" class="logo"> </a>
            <img src="images/1.png" class="logo1">
        <ul>
            <div class="dropdown">
                <button class="dropbtn"> <li>
                    <i class="fa fa-bell bell" aria-hidden="true"></i>
                </li></button>
                <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                </div>
                </div>

            <style>
            .dropbtn {
                
                width: 50px;
                height: 50px;
                border: none;
                cursor: pointer;
                background-color:#1876f2 ;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown-content a:hover {background-color: #f1f1f1}
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
              
              .dropdown:hover .dropbtn {
                background-color: #1876f2;
              }
              .bell{
                    color: white;
                    font-size: x-large;
                    
                }
            </style>
            <li>
                <i class="fa fa-comments bell" aria-hidden="true"style="color: white; "></i>
            </li>
        </ul>
        </div>
        
        <div class="nav-right">
            <div class="search-box">
                <img src="images/search.png">
                <form action="/search" method="post">
                    <input type="text" id="search" name="search" placeholder="Search" required>
                </form>
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="images/profile-pic.png">
            </div>
            
        </div>
        <!-- ------dropdown-settings-menu--------- -->
        <div class="settings-menu">
            <div id="dark-btn">
                <span></span>
            </div>
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="images/profile-pic.png">
                    <div>
                        <p><%= user.username %></p>
                        <a href="/profile">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="images/feedback.png">
                    
                    <div>
                        <p>Give Feedback</p>
                        <a href="mailto:alumniconnect@support.in">Help us improve the new deisgn</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="images/logout.png" class="settings-icon">
                    <a href="/logout">Logout <img src="images/arrow.png" width="10px"></a>
                </div>
            </div>
            
        </div>
    </nav>

    <!-- ----profile page --------- -->
<div class="profile-container">
    <img src="images/cover.png" class="cover-img">
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">
                <img src="images/profile.png" class="pd-image">
                <div>
                    <h3><%= user.fullname %></h3>
                    <p><%= user.followers.length %>  Followers</p>
                </div>
            </div>
        </div>
        <div class="pd-right">
            <form action = "/folllow" method="post">
                <button type="submit" name="follow" value="<%=user._id%>" type="button"><img src="images/add-friends.png"> Follow</button>
            </form>
            
            <button type="button"><img src="images/message.png"> Message</button>
            <br>
            <input type="file" form="updateCover" name="cover">
            <form action="/cover" method="POST" id="updateCover" enctype="multipart/form-data">
                <button type="submit" class="update-cover-btn">Update Cover</button>
            </form>
        </div>
    </div>

    <div class="profile-info">
        <div class="info-col">

            <div class="profile-intro">
                <h3>Intro</h3>
                <p class="intro-text">Believe in yourself and you can do unbelievable things. <img src="images/feeling.png"></p>
                <hr>
                <ul>
                    <li><img src="images/profile-job.png"> <%= user.dept %></li>
                    <li><img src="images/profile-study.png"> GEC Idukki</li>
                    <li><%= user.isAlumni ? "Alumni" : "Student" %></li>
                </ul>
            </div>

            <div class="profile-intro">
                <div class="title-box">
                    <h3>Photos</h3>
                    <a href="">All Photos</a>
                </div>
                
                <div class="photo-box">
                    <% posts.forEach(function(post) { %>
                        <% if(post.image != null) { %>
                            <div><img src="<%= '../' + post.image %>"></div>
        
                        <% } else { %>
                            
                        <% } %>
                    <% }) %>
                </div>
            </div>

            <div class="profile-intro">
                <div class="title-box">
                    <h3>Friends</h3>
                    <a href="">All Friends</a>
                </div>
                <p><%= user.followings.length %></p>
                <div class="friends-box">
                    <% f.forEach(function(f){ %>
                    <li><%= f %></li>
                    <% }) %>
                </div>
            </div>

        </div>
        <div class="post-col">
            <div class="write-post-container">
                <div class="user-profile">
                    <img src="images/profile-pic.png">
                    <div>
                        <p><%= user.fullname %></p>
                        <small>Public <i class="fas fa-caret-down"></i></small>
                    </div>
                </div>
    
                <div class="post-input-container">
                    <textarea rows="3" name="content" form="contentSubmission" placeholder="What's on your mind, <%= user.fullname %>?"></textarea>
                    
                    <div class="add-post-links">
                        <input type="file" form="contentSubmission" name="image">
                        <form action="/add" method="POST" id="contentSubmission" enctype="multipart/form-data">
                            <button type="submit" class="create-post-btn">Create Post</button>
                        </form>
                    </div>
                </div>
            </div>

            <% posts.forEach(function(post) { %>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="images/profile-pic.png">
                        <div>
                            <p><%= post.username %></p>
                            <span><%= post.createdAt %></span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
                <p class="post-text"><%= post.content %></p>
                <% if(post.image != null) { %>
                    <img src="<%= '../' + post.image %>" class="post-img">

                <% } else { %>
                    
                <% } %>
                <div class="post-row">
                    <div class="activity-icons">
                        <div><form action = "/post/like" method="POST">
                            <button type="submit" name="likebtn" value="<%=post._id%>"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" style="color:#1556d6;"></i><%=post.likes%></button>
                        </form></div>
                        <div><img src="images/comments.png"> 45</div>
                        <div><img src="images/share.png"> 20</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="images/profile-pic.png"> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
    
            </div>
            <% }) %>
    
            
        </div>
    </div>



</div>






    <div class="footer">
       
    </div>

    <script src="script.js"></script>
</body>
</html>